.logo {
    height: 100px;
    padding-left: 20px;
    width: 200px;
}

.botao-inicio-header {
    background-color: rgb(0, 175, 117);
    border-radius: 5px;
    font-size: 20px;
}

.botao-sair-header {
    border-radius: 5px;
    size: 30px;
    font-size: 20px;
}

/* cabeçalho */

body {
    margin: 0;
    padding: 0;

}

header{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: black;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;


}


header .buttons {
    display: flex;
    gap: 10px;
}

header .buttons a {
    background-color: rgb(0, 129, 39);
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

header .buttons a:hover {
    background-color: #333;
}

header .buttons a:last-child {
    background-color: red;
}

/* botão */
/* Estilos para tornar o cabeçalho responsivo */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #d20505;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header img {
    max-width: 200px;
    margin-left: 20px;
}

.buttons {
    margin-right: 20px;
}

.buttons a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}