/* cabeçalho */

body {
    margin: 0;
    padding: 0;
    margin-top: -10px;
          font-family: Arial, sans-serif;
  }
  
  
  header {
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
    position: relative;
    
    
  }
  
  header img {
    height: auto;
    width: 130px;
    margin-bottom: 10px;
    max-width: 100%;
  }
  
  header .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  header .buttons a {
    background-color: black;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
  }
  
  header .buttons a:hover {
    background-color: #333;
  }
  
  header .buttons a:last-child {
    background-color: red;
  }
  
  @media screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header img {
        margin-bottom: 0;
    }

    header .buttons {
        flex-direction: row;
    }
}
