/* Estilos para a página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* header */
header {
    background-color: #073816;
    padding: 2px;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 50px;
    
}

.about-content {
    text-align: justify;
    line-height: 1.6;
}
/* rodapé */
footer {
    /* background-color: #073816; */
    padding: 10px;
    color: aliceblue;
    text-align: center;
    margin-top: 130px;
    font-size: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* header */
.left{
    color: #eaff00;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 800;
    text-decoration: none; 
    font-size: 27px;


}
.left span{
    color: #ffffff;/*cor da escrita segunda palavra*/
}
/* titulo */
h1{
    text-align: center;
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}