@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,200;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

header {
    position: fixed;
    background: #073816;
    padding: 20px;
    width: 100%;
    height: 30px;
}

.left h3 {
    color: #eaff00;
    margin: 0;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
}

.left span {
    color: #ffffff;
}

.sair_btn {
    padding: 7px;
    background: #0e6027;
    text-decoration: none;
    float: right;
    margin-top: -45px;
    margin-right: 40px;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.sair_btn:hover {
    background: #4a9fcf;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    margin-top: 70px;
    padding-top: 30px;
    left: 0;
    background: #0a481d;
    transition: 0.5s;
    transition-property: left;
}

.sidebar .image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.sidebar h2 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: #3b714b;
}

.sidebar ion-icon {
    padding-right: 10px;
}

label #sidebar_btn {
    z-index: 1;
    position: fixed;
    left: 300px;
    color: #fff;
    font-size: 25px;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #51b3ec;
}

#check:checked~.sidebar {
    left: -190px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

.content {
    background-size: cover;
    background-position: center;
    height: 100vh;
    transition: 0.5s;
}

#check:checked~.content {
    margin-left: 60px;
}

#check {
    display: none;
}

.icon {
    font-size: 24px;
    margin-right: 10px;
}

body {
    background: white;
    /* overflow: hidden; */
    display: flex;
}

.img {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 20px;
}

.titulo {
    color: green;
    margin-top: 20px;
    text-align: center;
}

.link-home{
    display: flex;
    text-align: center;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    border-radius: 100px;
    background: linear-gradient(135deg, #0097b2, #7ed957);
    box-shadow: 0px 4px 10px rgba(0, 255, 4, 0.2);
    font-size: 18px;
    color: white;
    text-decoration: none;
}
